{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
<br />

<h1 align="center">Weather Forecast Home Page</h1>

<br />

<h1>About section</h1>

    <p>This website will keep you informed about the weather conditions in two vibrant and diverse cities: New York City, New York, and Houston, Texas.</p>

<br />

    <h2>Current Weather</h2>
    <p>Stay in the know with real-time updates on the current weather in New York City and Houston. The forecasts include important data such as the actual temperature in degrees Celsius, the "feels-like" temperature, humidity and a description of the current weather state.</p>

<br />

    <h2>Past Weather Forecast</h2>
    <p>Explore the weather forecasts from 20.08.2023 to 26.08.2023, in both New York City and Houston.  </p>

<br />




{% endblock %}